.Message {
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: center;
	color: white;
}
.Container {
	background-color: black;
	min-height: 100vh;
}
.card {
	justify-content: center;
}
.card-body {
	background-color: #153f4f;
	color: white;
}
.dropdown {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.dropdown-item {
	color: white;
}
.md-textarea {
	background-color: #153f4f;
}
.Success {
	display: flex;
	justify-content: center;
}
.text-danger {
	margin-top: 50px;
	margin-right: 20px;
}
.spin {
	margin: 25px 15px 25px 15px;
	height: 25px;
}
.alert {
	margin-top: 15px;
}
.counter {
	color: white;
	padding: 5px 5px 5px 5px;
	font-weight: bolder;
	font-size: xx-large;
	background-color: black;
	animation-name: example;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@keyframes example {
	from {
		background-color:black;
	}
	to {
		background-color: #153f4f;
	}
}
.speed {
	color: white;
	padding: 5px 5px 5px 5px;
	font-weight: bolder;
	font-size: xx-large;
}
.seven h1 {
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	background-color: black;
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	grid-template-rows: 27px 0;
	grid-gap: 20px;
	align-items: center;
	padding-top: 25px;
	margin-bottom: 0px;
}

.seven h1:after,
.seven h1:before {
	content: " ";
	display: block;
	border-bottom: 1px solid #c50000;
	border-top: 1px solid #c50000;
	height: 5px;
	background-color: #f8f8f8;
}
